.logoImg {
    grid-area: imgLogo;
}
  
.navBarHeader {
    grid-area: navBarHeader;
}
  
.searchBarContainer {
    grid-area: searchBar;
}
  
.searchTool {
    border-radius: 20px;
}
  
.imgLogo {
    transition: color 0.3s ease-in-out, transform 0.3s ease-in-out;
    background-color: #222222;
    width: 200px;
    height: 150px;
}

.imgLogo:hover {
    transform: scale(1.1);
}
  
.headerContainer {
    box-shadow: 3px 3px 5px 0px whitesmoke;
    background-color: #222222;
    color: whitesmoke;
    display: grid;
    grid-template-columns: 20% 80%;
    grid-template-rows: 75px 75px;
    grid-template-areas: "imgLogo navBarHeader" "imgLogo searchBar";
}
  
.barraNav {
    background-color: #222222;
    justify-content: flex-end;
    color: whitesmoke;
    margin-bottom: 15px;
    margin-right: 15px;
}
  
.navegacion {
    background-color: #222222;
    color: whitesmoke;
}

.linkCarrito {
    text-decoration: none;
}
  
.itemNav {
    height: 40px;
    font-size: 1rem;
    color: whitesmoke;
    text-decoration: none;
    text-transform: uppercase;
    transition: color 0.3s ease-in-out, transform 0.3s ease-in-out;
}

.itemNav:visited {
    color: whitesmoke;
}

.itemNav:focus {
    transform: scale(1);
    color: whitesmoke;
}

.itemNav:hover {
    transform: scale(1.1);
    color: #FAEBD7;
}

.itemNav:hover .h1Header {
    color: #FAEBD7;
}
  
.h1Header {
    height: 40px;
    font-size: 1rem;
    margin-top: 2px;
    color: whitesmoke;
    text-transform: uppercase;
    transition: color 0.3s ease-in-out, transform 0.3s ease-in-out;
}
  
.navegacion {
    border-left: 1px solid whitesmoke;
    border-right: 1px solid whitesmoke;
    transition: color 0.3s ease-in-out, transform 0.3s ease-in-out;
}

.navegacion:hover {
    border-right: 2px solid whitesmoke;
    border-left: 2px solid whitesmoke;
    transform: scale(1.1);
}
  
.listaHeader:first-child {
    border-left: 1px solid whitesmoke;
}

.listaHeader:last-child {
    border-right: 1px solid whitesmoke;
}
  
.searchBarContainer {
    margin: 0;
    display: flex;
    justify-content: flex-end;
}
  
.searchBar {
    background-color: whitesmoke;
    border-radius: 20px;
    margin-bottom: 15px;
    margin-right: 13.5px;
    width: 360px;
}

.searchBar:hover {
    box-shadow: 3px 3px 10px rgba(255, 255, 255, 0.5), 3px -3px 10px rgba(255, 255, 255, 0.5), -3px -3px 10px rgba(255, 255, 255, 0.5), -3px 3px 10px rgba(255, 255, 255, 0.5);
}

.searchTool:focus {
    border-color: inherit;
    box-shadow: none;
    outline: none;
}

input[type="search"]::-webkit-search-cancel-button {
    -webkit-appearance: none;
    appearance: none;
}
  
.btnSearchBar {
    background-color: whitesmoke;
    border-radius: 20px;
    margin: 0;
}

.btnSearchBar:hover {
    color: black;
}